<% include ./partials/header.ejs %>


  <title>Chat</title>
</head>
<body>
  
  <form id ="form">
    <div class="form-group">
      <input type="email" class="form-control" id="Email" placeholder="Enter email">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="Password" placeholder="Password">
    </div>
    <button id="" type="submit" class="btn btn-primary">Submit</button>
  </form>

<% include ./partials/footer.ejs %>